@import "./layouts/header.css";
@import "./layouts/layout.css";
@import "./services/services.css";
@import "./xcolors.css";

* {
  font-family: BOG;
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  line-height: 1.4em;
}

body {
  height: calc(2*100vh);
  background-color: #f4f4f4;
}







