@import './balance-service.css';
@import './accumulate-service.css';
@import './payment-service.css';
@import './contacts-service.css';
@import './foundation-service.css';
@import './opperations-service.css';

* {
    font-family: BOG;
    font-stretch: normal;
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    line-height: 1.4em;
  }

/* Services */
.services {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap: 14px;
    height: max-content;
  }
  
  @media only screen and (max-width: 1024px){
    .services {
      justify-content: center;
    }
  }
  
  .service {
    background-color: #fcfcfc;
    width: 49%;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1); 
    height: max-content; 
  }

  .services-content {
    height: max-content;
  }
  
  .contacts {
    margin-top: -90px;
    margin-bottom: 35px;
  }
  
  .operations {
    margin-top: -30px;
  }

  .retirement {
    margin-top: -530px;
  }
  
  @media only screen and (max-width: 1024px){
    .service {
      width: 600px;
    }
  
    .money {
      order: 1;
    }
    
    .payments {
      order: 4;
    }
    
    .accumulate {
      order: 2;
    }
    
    .contacts {
      order: 5;
      margin-top: 0;
    }
    
    .all-currency {  
      order: 3;
    }
    
    .operations {
      order: 6;
      margin-top: 0;
    }
    
    .retirement {
      order: 7;
      margin-top: 0;
    }
  }

  
  .service-content {
    width: 100%;
    display: flex;
    padding: 24px 0;
    height: 48px;
  }
  
  .service-header {
    padding: 24px 24px 12px 24px;
    font-weight: 500;
    color: #000000EB;
    font-family: "BOG Headline";
    font-size: 14px;  
  }