.footer {
    padding: 24px 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-services .copy {
    width: 100%;
    margin-bottom: 6px;
    font-size: 14px;
    color: #00000052;
}

.bank-services, .footer-contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.bank-services li {
    list-style: disc;
    font-size: 10px;
    color: #000000AD;}

.bank-services li:first-child {
    list-style: none;
}

.bank-service a {
    font-size: 12px;
    color: #000000AD;
}

.footer-contacts {
    justify-content: flex-end;
    align-content: center;
    gap: 40px;
}

.footer-contact {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color .5s;
}

.footer-contact:hover {
    background-color: rgba(187, 84, 40, 0.1);
}